[submodule "msgpack-d"]
	path = msgpack-d
	url = https://github.com/nordlow/msgpack-d.git
[submodule "backtrace-d"]
	path = backtrace-d
	url = https://github.com/yazd/backtrace-d.git
[submodule "dunit"]
	path = dunit
	url = https://github.com/linkrope/dunit.git
[submodule "Pegged"]
	path = Pegged
	url = https://github.com/PhilippeSigaud/Pegged.git
[submodule "Dgraph"]
	path = Dgraph
	url = https://github.com/WebDrake/Dgraph.git
[submodule "lexer-demo"]
	path = lexer-demo
	url = https://github.com/Hackerpilot/lexer-demo.git
[submodule "DCD"]
	path = DCD
	url = https://github.com/Hackerpilot/DCD.git
[submodule "arsd"]
	path = arsd
	url = https://github.com/adamdruppe/misc-stuff-including-D-programming-language-web-stuff.git
[submodule "nordlow-msgpack-d"]
	path = nordlow-msgpack-d
	url = https://github.com/nordlow/msgpack-d.git
[submodule "lectures/minted"]
	path = lectures/minted
	url = https://github.com/gpoore/minted.git
[submodule "quantities"]
	path = quantities
	url = git://github.com/biozic/quantities.git
[submodule "dstep"]
	path = dstep
	url = https://github.com/jacob-carlborg/dstep.git
[submodule "DerelictGL3"]
	path = DerelictGL3
	url = https://github.com/DerelictOrg/DerelictGL3.git
[submodule "DerelictAL"]
	path = DerelictAL
	url = https://github.com/DerelictOrg/DerelictAL.git
[submodule "DerelictFI"]
	path = DerelictFI
	url = https://github.com/DerelictOrg/DerelictFI.git
[submodule "DerelictFT"]
	path = DerelictFT
	url = https://github.com/DerelictOrg/DerelictFT.git
[submodule "DerelictGLFW3"]
	path = DerelictGLFW3
	url = https://github.com/DerelictOrg/DerelictGLFW3.git
[submodule "DerelictUtil"]
	path = DerelictUtil
	url = https://github.com/DerelictOrg/DerelictUtil.git
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad.git
[submodule "gl3n"]
	path = gl3n
	url = https://github.com/Dav1dde/gl3n.git
[submodule "glamour"]
	path = glamour
	url = https://github.com/Dav1dde/glamour.git
[submodule "gfm"]
	path = gfm
	url = https://github.com/p0nce/gfm.git
