[submodule "DCD"]
	path = DCD
	url = git://github.com/Hackerpilot/DCD.git
[submodule "msgpack-d"]
	path = msgpack-d
	url = git://github.com/msgpack/msgpack-d.git
[submodule "dscience"]
	path = dscience
	url = git://github.com/dscience-developers/dscience.git
[submodule "adamdruppe"]
	path = arsd
	url = https://github.com/adamdruppe/misc-stuff-including-D-programming-language-web-stuff.git
[submodule "scid"]
	path = scid
	url = git://github.com/kyllingstad/scid.git
[submodule "Dgraph"]
	path = Dgraph
	url = git://github.com/WebDrake/Dgraph.git
[submodule "Rational"]
	path = Rational
	url = git://github.com/WebDrake/Rational.git
[submodule "Pegged"]
	path = Pegged
	url = https://github.com/PhilippeSigaud/Pegged.git
[submodule "unstandard"]
	path = unstandard
	url = https://bitbucket.org/denis-sh/unstandard.git
[submodule "dunit"]
	path = dunit
	url = git://github.com/linkrope/dunit.git
[submodule "phobosx"]
	path = phobosx
	url = git://github.com/phobos-x/phobosx.git
[submodule "phobos"]
	path = phobos
	url = git://github.com/andralex/phobos.git
[submodule "directx-d"]
	path = directx-d
	url = git://github.com/evilrat666/directx-d.git
[submodule "dproto"]
	path = dproto
	url = git://github.com/msoucy/dproto.git
[submodule "specd"]
	path = specd
	url = git://github.com/jostly/specd.git
[submodule "backtrace-d"]
	path = backtrace-d
	url = git://github.com/yazd/backtrace-d.git
[submodule "misc-stuff-including-D-programming-language-web-stuff"]
	path = misc-stuff-including-D-programming-language-web-stuff
	url = https://github.com/adamdruppe/misc-stuff-including-D-programming-language-web-stuff.git
[submodule "unit-threaded"]
	path = unit-threaded
	url = git://github.com/atilaneves/unit-threaded.git
[submodule "dchip"]
	path = dchip
	url = git://github.com/AndrejMitrovic/dchip.git
[submodule "cerealed"]
	path = cerealed
	url = git://github.com/atilaneves/cerealed.git
[submodule "genomed"]
	path = genomed
	url = git://github.com/atilaneves/genomed.git
[submodule "msgpack-d-pernord"]
	path = msgpack-d-pernord
	url = https://github.com/nordlow/msgpack-d.git
[submodule "SIMD-Math"]
	path = SIMD-Math
	url = https://github.com/9il/SIMD-Math.git
[submodule "DerelictGL3"]
	path = DerelictGL3
	url = git://github.com/DerelictOrg/DerelictGL3.git
[submodule "DerelictGLFW3"]
	path = DerelictGLFW3
	url = git://github.com/DerelictOrg/DerelictGLFW3.git
[submodule "DerelictFT"]
	path = DerelictFT
	url = git://github.com/DerelictOrg/DerelictFT.git
[submodule "DerelictFI"]
	path = DerelictFI
	url = git://github.com/DerelictOrg/DerelictFI.git
[submodule "DerelictUtil"]
	path = DerelictUtil
	url = git://github.com/DerelictOrg/DerelictUtil.git
[submodule "glamour"]
	path = glamour
	url = git://github.com/Dav1dde/glamour.git
[submodule "DerelictSDL2"]
	path = DerelictSDL2
	url = git://github.com/DerelictOrg/DerelictSDL2.git
[submodule "terminal-emulator"]
	path = terminal-emulator
	url = https://github.com/adamdruppe/terminal-emulator.git
[submodule "gfm"]
	path = gfm
	url = https://github.com/p0nce/gfm.git
[submodule "dlibgit"]
	path = dlibgit
	url = git://github.com/s-ludwig/dlibgit.git
[submodule "temple"]
	path = temple
	url = https://github.com/dymk/temple.git
[submodule "backtrace"]
	path = backtrace
	url = git://github.com/yazd/backtrace-d.git
[submodule "xdc"]
	path = xdc
	url = https://github.com/chadjoan/xdc.git
[submodule "Cmsed"]
	path = Cmsed
	url = https://github.com/rikkimax/Cmsed.git
[submodule "compo"]
	path = compo
	url = https://github.com/britseye/compo.git
[submodule "dranges"]
	path = dranges
	url = https://github.com/k3kaimu/dranges.git
[submodule "minted"]
	path = minted
	url = https://github.com/gpoore/minted.git
[submodule "parallel_algorithm"]
	path = parallel_algorithm
	url = https://github.com/dsimcha/parallel_algorithm.git
[submodule "scriptlike"]
	path = scriptlike
	url = git://github.com/Abscissa/scriptlike.git
[submodule "zmqd"]
	path = zmqd
	url = https://github.com/kyllingstad/zmqd.git
[submodule "phobos-pnw"]
	path = phobos-pnw
	url = git://github.com/nordlow/phobos.git
[submodule "Derelict3"]
	path = Derelict3
	url = git://github.com/aldacron/Derelict3.git
[submodule "DerelictIL"]
	path = DerelictIL
	url = git://github.com/DerelictOrg/DerelictIL.git
[submodule "DerelictOgg"]
	path = DerelictOgg
	url = git://github.com/DerelictOrg/DerelictOgg.git
[submodule "DerelictPQ"]
	path = DerelictPQ
	url = git://github.com/DerelictOrg/DerelictPQ.git
[submodule "DerelictVorbis"]
	path = DerelictVorbis
	url = git://github.com/DerelictOrg/DerelictVorbis.git
[submodule "DerelictSFML2"]
	path = DerelictSFML2
	url = git://github.com/DerelictOrg/DerelictSFML2.git
[submodule "Dgame"]
	path = Dgame
	url = git://github.com/Dgame/Dgame.git
[submodule "lexer-demo"]
	path = lexer-demo
	url = git://github.com/Hackerpilot/lexer-demo.git
[submodule "libgit2"]
	path = libgit2
	url = git://github.com/s-ludwig/libgit2.git
[submodule "glad"]
	path = glad
	url = git://github.com/Dav1dde/glad.git
[submodule "nordlow-justd"]
	path = nordlow-justd
	url = https://github.com/nordlow/justd.git
